@font-face {
  font-family: "CircularBook";
  src: url("./assets/fonts/Circular/CircularStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularBold";
  src: url("./assets/fonts/Circular/CircularStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "CircularBook", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --toastify-color-success: rgb(255, 230, 0) !important;
}

body,
html {
  background-color: #ebebeb;
}
